
body {
    margin: 0;
    font-family:'Starjedi', 'Orbitron', sans-serif; 
    background-color: #0b0b0b; 
    color: #f5f5f5; 
}

/* HEADER */
header {
    background-color: #111; 
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #ffd700; /* amarillo dorado Star Wars */
    margin-bottom: 2%;
    
}

header img {
    width: 15%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #ffd700;
    font-weight: bold;
    font-size: 110%;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffffff; /* se ilumina al pasar */
}





/* ---------- FOOTER ---------- */

footer{
    background-color: #111;
    padding-bottom: 4%;
    border-top: 2px solid #ffd700;
    margin-top: 2%;
}
footer h2{
    padding-left: 5%;
    text-align: left;
    font-size: 150%;
}
footer hr{
    width: 90%;
    margin: auto;
}
footer h3{
    padding-left: 6%;
    padding-bottom: 0%;
    font-weight: 500; 
}
footer div{
    margin-top: 1%;
}
footer img{
    width: 2.5%;
    float :right;
    margin: 1%;
    vertical-align: middle;
    border-radius: 50%;
    margin-top: 0%;
}
footer div:last-of-type {
    text-align: right;
    padding-right: 2%;
}
.especial{
    font-weight: 800;
    font-size: 150%;
}




/* ---------- MAIN ---------- */
main {
    width: 94%;
    margin: auto;
}





/*INDEX*/
.hero{
    background-image: url("imagenes/galaxia_fondo.jpg");
    background-size: cover;        /* Ensures the image covers the entire div */
    background-position: center;   /* Centers the image */
    background-repeat: no-repeat;
    padding-top: 5%;
    padding-bottom: 5%;              /* Adjust padding as needed */
    text-align: center;            /* Centers the text */
}
.hero h1, .hero h2{
    color: #ffd700;
    text-align: center;
    text-shadow: 0 0 10px #ffd700;
    font-size: 190%;
}
.hero h2{
    font-size: 140%;
}


.destacados div{
    width: 20%;
    text-align: center;
   
}
.destacados h3, .destacados h4{
    text-align: justify;
    text-justify: inter-word;
}
.destacados a{
    color: #f5f5f5;
    text-decoration: none;
}
.destacados p{
    color: #ffffff9a;
    text-align: center;
}
.destacados h3{
    
}
.destacados img{
    width: 90%;
    border-radius: 50%;
    margin-bottom: 3%;
    margin: auto;
}

